:root {
  --background-color: #3a1d29;
  --background-color-2: #e47152;
  --text-color-1: #c23c45;
  --text-color-2: #fff;
  --text-color-3: #0a0507;
  --text-color-4: rgb(200, 200, 200);
}

@font-face {
  font-family: "Far_Casablanca";
  src: url("./fonts/Far_Casablanca.ttf");
}

@font-face {
  font-family: "Nevis Bold";
  src: url("./fonts/nevis.woff");
}

* {
  font-family: "Far_Casablanca", "Nevis Bold", Arial, sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--background-color);
  margin: 0px;
  padding: 0px;
}

.header-div {
  display: flex;
  align-items: center;
  background-color: var(--background-color-2);
  padding: 10px;
}

.header-div img {
  border-radius: 6px;
}

.header-div .links {
  margin-right: 20px;
  display: flex;
}

.header-div .header-news p {
  margin: 0px;
  padding-right: 30px;
  display: flex;
  width: fit-content;
}

.header-div .number-of-new-news {
  background-color: var(--text-color-1);
  color: var(--text-color-2);
  display: flex;
  width: fit-content;
  position: absolute;

  padding-right: 7px;
  padding-left: 7px;
  border-radius: 10px;
  font-size: 18px;
}

.header-div a {
  margin-right: 20px;
  font-size: 25px;

  text-decoration: none;
  color: var(--background-color);

  cursor: pointer;
  transition: 0.25s;

  display: flex;
  align-items: center;
}

.header-div a:hover {
  transform: scale(0.85);
}

.special-event-banner {
  background-image: url("./assets/Banners/ExhibitionBackground.png");
  padding: 30px;

  display: flex;
  flex-direction: row;
}

.special-event-banner .right {
  width: 50%;
}

.special-event-banner .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.special-event-banner .title {
  background-color: var(--background-color);
  color: var(--text-color-1);
  width: fit-content;
  padding: 10px;
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 25px;
  border-radius: 6px;
}

.special-event-banner .description {
  background-color: var(--background-color);
  color: var(--text-color-2);
  max-width: 1150px;
  padding: 10px;
  font-size: 20px;
  border-radius: 6px;
}

.special-event-banner img {
  border-radius: 6px;
}

.special-event-banner button {
  background-color: var(--background-color-2);
  outline: none;
  border: none;

  color: var(--text-color-2);
  width: fit-content;
  padding: 10px;
  margin-top: 50px;
  margin-bottom: 25px;
  width: 150px;
  font-size: 20px;
  border-radius: 6px;

  cursor: pointer;
  -webkit-animation: rotating 1s ease-in-out alternate-reverse infinite;
  -moz-animation: rotating 1s ease-in-out alternate-reverse infinite;
  -ms-animation: rotating 1s ease-in-out alternate-reverse infinite;
  -o-animation: rotating 1s ease-in-out alternate-reverse infinite;
  animation: rotating 1s ease-in-out alternate-reverse infinite;
}

.special-event-banner button a {
  text-decoration: none;
  color: var(--text-color-2);
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  to {
    -webkit-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    transform: rotate(10deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  to {
    -ms-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    transform: rotate(10deg);
  }
}

.special-event-banner .date-counter {
  background-color: var(--background-color-2);
  color: var(--text-color-2);

  font-size: 20px;
  border-radius: 6px;

  padding: 10px;
  margin-top: 50px;
  margin-bottom: 25px;

  -webkit-animation: rotating 3s ease-in-out alternate-reverse infinite;
  -moz-animation: rotating 3s ease-in-out alternate-reverse infinite;
  -ms-animation: rotating 3s ease-in-out alternate-reverse infinite;
  -o-animation: rotating 3s ease-in-out alternate-reverse infinite;
  animation: rotating 3s ease-in-out alternate-reverse infinite;
}

.section-header {
  color: var(--text-color-1);
  text-align: center;

  font-size: 30px;
  font-weight: 700;
}

.news-container {
  padding: 50px;
  padding-bottom: 0px;
  padding-top: 0px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.news-container .no-article {
  color: var(--text-color-2);
  font-size: 20px;
  margin-top: -15px;
}

.article-container {
  width: 250px;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color-2);
  padding: 10px;
  border-radius: 6px;
  margin-left: 20px;
  margin-bottom: 20px;

  text-decoration: none;
}

.article-container img {
  border-radius: 6px;
  width: 250px;
  height: 166px;
}

.article-container p {
  padding: 0px;
  margin: 0px;
}

.article-container .title {
  font-size: 20px;
  font-weight: 600;
  margin-top: 5px;
  color: var(--text-color-3);
}

.article-container .description {
  color: var(--text-color-3);
  flex: 1;
}

.article-container .date {
  color: var(--background-color);
  font-size: 15px;
  margin-top: 10px;
}

.people {
  display: flex;
  flex-wrap: wrap;

  align-items: center;
  justify-content: center;
}

.person {
  background-color: var(--background-color-2);
  border-radius: 6px;

  width: fit-content;

  padding: 10px;

  margin-bottom: 20px;
  margin-right: 20px;
}

.person img {
  border-radius: 100px;
}

.person p {
  margin: 0px;
  padding: 0px;
}

.person .person-name {
  text-align: center;
  color: var(--text-color-3);

  font-size: 20px;
  font-weight: 500;
}

.person .role {
  text-align: center;
  color: var(--background-color);
}

.partners {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-wrap: wrap;
  margin-bottom: 30px;
}

.partner {
  background-color: var(--background-color-2);
  border-radius: 6px;

  height: 250px;
  width: 200px;
  /* height: 120px; */

  padding: 10px;

  margin-bottom: 20px;
  margin-right: 20px;
}

.partner img {
  width: 200px;
  border-radius: 6px;
}

.partner p {
  padding: 0px;
  margin: 0px;
}

.partner .partner-name {
  text-align: center;
  font-size: 30px;
}

.copyright {
  color: var(--text-color-1);
  font-size: 20px;
  margin-left: 20px;
}

.copyright a {
  color: var(--background-color-2);
}

@media screen and (max-width: 460px) {
  .header-div {
    display: flex;
    flex-direction: column;
  }

  .header-div img {
    margin-bottom: 10px;
  }

  .header-div .links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: 0px;
  }

  .article-container {
    margin-left: 0px;
  }

  .partner,
  .person {
    margin-right: 0px;
  }

  .picture-banner .channels {
    flex-direction: column;
  }

  .special-event-banner {
    flex-direction: column-reverse;
  }

  .special-event-banner .right {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .special-event-banner .left .title {
    height: 0px;
  }

  .special-event-banner .left button {
    margin-bottom: 40px;
  }

  .special-event-banner .right,
  .special-event-banner .left {
    width: 100%;
  }
}

.picture-banner {
  background-image: url("./assets/Banners/SHORATEST.jpg");
  padding: 30px;

  display: flex;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-banner {
  background-image: url(./assets/Banners/shoraflag.png);
}

.partner-banner {
  background-image: url(./assets/Banners/Hamkary.png);
}

.picture-banner .title {
  background-color: var(--background-color);
  color: var(--text-color-1);
  width: fit-content;
  padding: 10px;
  margin-bottom: 0px;
  font-size: 25px;
  border-radius: 6px;
}

.picture-banner .description {
  background-color: var(--background-color);
  color: var(--text-color-2);
  max-width: 1150px;
  padding: 10px;
  font-size: 20px;
  border-radius: 6px;
}

.picture-banner button {
  background-color: var(--background-color-2);
  outline: none;
  border: none;

  color: var(--text-color-2);
  width: fit-content;
  padding: 10px;
  margin-top: 35px;
  margin-bottom: 35px;
  width: 150px;
  font-size: 20px;
  border-radius: 6px;

  cursor: pointer;
}

.picture-banner .channels {
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 10px;
}

.picture-banner .channels img {
  background-color: white;
  border-radius: 6px;
  padding: 5px;
  margin-right: 10px;
  height: 40px;
}

.picture-banner .channels p,
.picture-banner .channels a {
  color: white;
  margin-right: 10px;
  font-family: "Far_Casablanca", "Nevis Bold", Arial, sans-serif;
  font-size: 20px;

  margin-top: 0px;
  margin-bottom: 0px;
  text-decoration: none;
}
